<header>
<a class="homelink" rel="home" title="knopt Home" href="https://pcapriotti.gitlab.io/knopt">
  <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/10719288/knopt.png?width=64" alt=""> knopt
</a>
</header>
